
@import-normalize; /* bring in normalize.css styles */


@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;600&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}

:root {

/* colors */
  --accent-color: #7B61FF;
  --hight-color: #FF2B77;
  --medium-color: #E2A300;
  --low-color: #6BD475;
  --divider-color: #ACA7C3;
  --text-color: #3F3F3F;
  --white-color: #FFFFFF;

/* buttons-colors */  
  --button-default: #7B61FF;
  --button-hover: #6243FF;
  --button-disable: #ACA7C3;

  --border-shadow: 2px 4px 9px 0px rgba(166,141,174,0.28);
  /*  A68DAE
 x2
 y4
 blur 9
 28 % */
 /* box-shadow: 4px 5px 9px 0px rgba(166,141,174,0.28); */

/* font-size */
  --header-size: 32px;
  --title-size: 16px;
  --body-caption-size: 14px;

/* font-weight */
  --semibold-weight: 600;
  --medium-weight: 500;
  --regular-weight: 400;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--body-caption-size);
  font-weight: var(--medium-weight);
  /* background-color: rgba(253, 247, 242, 1);
  line-height: 1.4; */
}

.react-icons {
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* p > a.active {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

li > a.active {
  text-decoration-line: underline;
  cursor: pointer;
  color: var(--accent-color);
}
span > a.active {
  background-color: var(--accent-color);
  color: var(--white-color);
} */